{% extends 'login_base.html' %}
{% load static %}
{% block title %}Student Home{% endblock title %}
{% block content %}
  
    <div class="sidebar">
      <div class="sidebar-content">
        <div class="logo d-flex ">
          <img src="{% static 'images/logo.JPG' %}">
          <p style="font-family: 'Pacifico', cursive; font-size: 25px; color:aliceblue;">CMS</p>
        </div>
        <hr>
        <div class="menu">
          <li>
            <a href="{% url 'student_template:student_home' %}">
              <div class="icon">
                <i class="fas fa-tachometer-alt"></i>&nbsp;&nbsp;
              </div>
              <span>Dashboard</span> </a>
          </li>
          <li>
            <a href="{% url 'student_template:student_attendance' %}">
              <div class="icon">
                <i class="fas fa-chalkboard-teacher"></i>&nbsp;&nbsp;
              </div>
              <span>View Attendance</span> </a>
          </li>
          <li>
            <a href="{% url 'student_template:student_view_result' %}">
              <div class="icon">
                <i class="fas fa-user-graduate"></i>&nbsp;&nbsp;
              </div>
              <span>View Result</span> </a>
          </li>
          <li>
            <a href="{% url 'student_template:student_apply_leave' %}">
              <div class="icon">
                <i class="fas fa-book"></i>&nbsp;&nbsp;
              </div>
              <span>Apply Leave</span> </a>
          </li>
          <li>
            <a href="{% url 'student_template:student_feedback' %}">
              <div class="icon">
                <i class="fas fa-comments"></i>&nbsp;&nbsp;
              </div>
              <span>Student Feedback</span> </a>
          </li>
         
        </div>
    
      </div>
  
      </div>
      
    <div class="main">
      <div class="row card-board">
  
        <div class="card-container">
          <div class="card-body">
            <div class="number">48239</div>
            <div class="name">Students</div>
          </div>
          <div class="icon-box">
            <i class="fas fa-user-graduate"></i>
          </div>
        </div>
  
        <div class="card-container">
          <div class="card-body">
            <div class="number">48239</div>
            <div class="name">Teachers</div>
          </div>
          <div class="icon-box">
            <i class="fas fa-chalkboard-teacher"></i>
          </div>
        </div>
  
        <div class="card-container">
          <div class="card-body">
            <div class="number">48239</div>
            <div class="name">Courses</div>
          </div>
          <div class="icon-box">
            <i class="fas fa-book"></i>
          </div>
        </div>
  
        <div class="card-container">
          <div class="card-body">
            <div class="number">48239</div>
            <div class="name">Subjects</div>
          </div>
          <div class="icon-box">
            <i class="fas fa-book-open"></i>
          </div>
        </div>
      </div>
      <div class="chart row">
        <div class="chart-container">
          <canvas id="barchart"></canvas>
          
        </div>
        <div class="chart-container">
          
          <canvas id="chart2"></canvas>
          
        </div>
        <div class="chart-container">
          <canvas id="chart3"></canvas>
          
        </div>

      </div>
  

    </div>
    </div>
    
  </div>

  {% endblock %}
  
    

  








    