
{% extends 'hod_base.html' %}
{% block content %}

        <!-- Main section start -->
        <div class="main-content" id="maincontent">
            <div class="main-container">
                <!-- chart card start -->
                <div class="chart-card manage-staff-title">

                    <h2>Add new subject</h2>

                </div>
                <!-- chart card end -->


                <!-- activities session start-->
                <div class="activities-section">
                    <form method="post">
                         {% csrf_token %}
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Staff:</label>
                          {{form.staff_id}}
                          
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Course:</label>
                            {{form.course_id}}
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Subject:</label>
                            {{form.subject_name}}
                        </div>
                        <button type="submit" class="btn btn-primary">Add Subject</button>
                      </form>
                </div>

                <!-- activities session end-->
            </div>





        </div>
        <!-- Main section stop -->

    </div>
    <!-- container-section stop -->





{% endblock %}


