
{% extends 'hod_base.html' %}
{% block content %}


    <!-- Main section start -->
    <div class="main-content" id="maincontent">
      <div class="main-container">
        <!-- chart card start -->
        <div class="chart-card manage-staff-title">

          <h2>Manage Subject</h2>
          <a href="{% url 'student_management_app:add_subject' %}"><button type="button" class="btn btn-primary mt-4">Add Subject</button></a>


        </div>
        <br>
        {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <h6 style="color:red;">{{message}}</h6>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}


        <!-- activities session start-->
        <div class="activities-section mt-4">
          <div class="manage-staff">
            <div class="table-title md-6">
              <h3>Subject Details</h3>
            </div>
            <div class="search md-4">
              <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
            </div>
          </div>
          <hr>

          <table class="table  activity">
            <thead>
              <tr>
                <th scope="col">S/N</th>
                <th scope="col">Subject Name</th>
                <th scope="col">Staff</th>
                <th scope="col">Created At</th>
                <th scope="col">Action</th>
                <th scope="col">Action 2</th>

              </tr>
            </thead>
            <tbody>
              {% for subject in subjects %}
              <tr>
                <th scope="row">{{subject.id}}</th>
                <td>{{subject.subject_name}}</td>
                <td> {{ subject.staff_id.first_name }} {{ subject.staff_id.last_name }}</td>
                <td>{{subject.created_at}}</td>
                
                <td><a href="{% url 'student_management_app:edit_subject' subject_id=subject.id %}"><button type="button" class="btn btn-primary">Edit</button></a></td>
                <td><a href=""><button type="button" class="btn btn-danger">Delete</button></a></td>

              </tr>
              {% endfor %}
        
            </tbody>
          </table>
        </div>

        <!-- activities session end-->
      </div>





    </div>
    <!-- Main section stop -->

  </div>
  <!-- container-section stop -->











{% endblock %}